.container{
    margin-bottom: 100px;
    text-align: center;
}
.navbar-logo{
    height: 40px;
    width: auto;
}
.all-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
.card-footer{
    border-top: none;
    background-color: white;
}

.brands-container {
    background-color: #eaf0e9;
    color: #5e6353;
    margin-bottom: 20px;
    padding: 60px 0;
}
.brand-icon {
    width: 140px;
    height: 120px;
}

footer{
    text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .carousel-item {
        padding: 10px 20px;
    }

    .navbar-logo {
        height: 30px;
    }

    .carousel-item h1, .carousel-item p {
        text-align: center;
    }

    .carousel-item .col-md-7, .carousel-item .col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-item .col-md-5 {
        margin-top: 20px;
    }
}

.footer-section {
    padding: 40px 0;
    color: #fff;
    background-color: #222;
    font-size: 14px;
}

.footer-section .container {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-section .brand-logo img {
    height: 22px;
}

.footer-section p {
    margin-top: 15px;
    color: #adb5bd;
}

.footer-section h5 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-section a {
    color: #adb5bd;
    transition: color 0.2s;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    display: flex;
    align-items: center;
    color: #adb5bd;
}

.footer-section ul li a i {
    margin-right: 10px;
}

.footer-section .footer-btn {
    margin-top: 30px;
}

.footer-section .footer-btn a {
    color: #222;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.2s;
}

.footer-section .footer-btn a:hover {
    background-color: #adb5bd;
    color: #fff;
}

.footer-section .media-icon {
    margin-top: 20px;
}

.footer-section .media-icon ul {
    padding-left: 0;
}

.footer-section .media-icon ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-section .media-icon ul li a {
    color: #adb5bd;
    font-size: 16px;
    transition: color 0.2s;
}

.footer-section .media-icon ul li a:hover {
    color: #fff;
}

